@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* position: absolute; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-image: url("https://d10gf95rxwihx0.cloudfront.net/city-pixel-art-8ptr08abde3xvuh4.webp");
  
  
  
}

@font-face {
  font-family: 'Pixel NES';
  src: url('/fonts/Pixel_NES.otf') format('truetype');
}


.pixel-text {
  font-family: 'Pixel NES', sans-serif;
}